{%  extends "base.html.twig" %}

{% block titre %}Listes des Concerts{% endblock %}
{%  block body %}
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Artiste</th>
                <th scope="col">Heure debut</th>
                <th scope="col">Heure fin</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
                {% for concert in concerts %}
                    <tr>
                        <th scope="row">{{ concert.id }}</th>
                        <td><a href="{{ path('artist_show',{id: concert.artist.getId()}) }}">{{ concert.artist.getGroupName()}}</a></td>
                        <td>{{ concert.sartHour.format('H:i:s') }}</td>
                        <td>{{ concert.endHour.format('H:i:s') }}</td>
                        <td><a class="btn btn-success mr-2" href="{{ path('concert_edit',{id: concert.id}) }}">Modifier</a><a class="btn btn-danger" href="{{ path('concert_delete',{id: concert.id}) }}">Supprimer</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div>
            <a href="{{ path('concert_create') }}">Créer un nouveau concert ></a>
        </div>
    </div>
{% endblock %}




